# Large model output files
*.rds
*.RDS
*.rda
*.RData
# Stan compiled models
*.exe
*.o
*.hpp
# R session
.Rhistory
.RData
.Ruserdata
# Generated outputs
Output/
# Data files
Data/
.DS_Store
.Rprofile.bak
.Rproj.user/
git_setup.sh
